aniso8601==7.0.0
attrs==19.1.0
Click==8.0 
GeoAlchemy2==0.12.3
itsdangerous==2.0
Jinja2==3.0
jsonschema==3.0.2
MarkupSafe==2.1.1
marshmallow==3.17.0
marshmallow-sqlalchemy==0.28.1
psycopg2-binary==2.9.3
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
shapely==1.8.2
SQLAlchemy==1.4.39 
jsonify==0.5
confluent-kafka==1.9.0
